<!-- Primary Navigation -->
<nav class="navbar navbar-expand-md navbar-dark color-second-bg">
  <a href="{% url 'product-list' %}" class="navbar-brand">ProductHub</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#my-nav"
    aria-controls="my-nav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="my-nav" class="collapse navbar-collapse">
    <!-- Search Form -->
    <form
      method="GET"
      action="{% url 'product-list' %}"
      class="form-inline ml-auto my-3"
    >
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
        name="q"
        value="{{ query|default_if_none:'' }}"
      />
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
