{% extends "base.html" %} 

{% load static %} 

{% block content %}
<div class="container">
  <!-- Search Form -->
  <form method="GET" action="{% url 'product-list' %}" class="form-inline my-3">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      name="q"
      value="{{ query|default_if_none:'' }}"
    />
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      Search
    </button>
  </form>

  <!-- Create Product Button -->
  <a href="{% url 'create' %}" class="btn btn-primary my-3">Create Product</a>

  <!-- Product Table -->
  <table class="table table-bordered table-dark my-5 text-center">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Producer</th>
        <th scope="col">View</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>
          {% if product.image %}
          <img
            src="{{ product.image.url }}"
            alt="{{ product.title }}"
            style="width: 50px; height: 50px"
          />
          {% else %}
          No Image
          {% endif %}
        </td>
        <td>{{ product.title }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.quantity }}</td>
        <td>{{ product.producer }}</td>
        <td>
          <a href="{{product.get_absolute_url}}">View</a>
        </td>
        <td>
          <a href="{% url 'product-update' id=product.id %}">Update</a>
        </td>
        <td>
          <a href="{% url 'delete' id=product.id %}">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <!-- Include the pagination template -->
  {% include "pagination.html" %}
</div>
{% endblock %}
