{% extends "base.html" %} 

{% load static %} 

{% block content %}
<div class="container">
  <table class="table table-bordered my-5 text-center">
    <thead>
      <tr>
        <th scope="col">Image</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Producer</th>
        <th scope="col">View</th>
        <th scope="col">Update</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for product in products %}
      <tr>
        <td>
          {% if product.image %}
          <img
            src="{{ product.image.url }}"
            alt="{{ product.title }}"
            style="width: 50px; height: 50px"
          />
          {% else %} No Image {% endif %}
        </td>
        <td>{{product.title}}</td>
        <td>{{product.price}}</td>
        <td>{{product.quantity}}</td>
        <td>{{product.producer}}</td>
        <td>
          <a href="{% url 'product-detail' id=product.id slug=product.slug %}"
            >View</a
          >
        </td>
        <td>
          <a href="{% url 'product-update' id=product.id slug=product.slug %}"
            >Update</a
          >
        </td>
        <td><a href="#">Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
